.panda-bg-info{
    background: #fceae8;
}
.catagoris img{
    width: 100px;
    height: 100px;
}
.btn-buy-color{
   color: #fff;
   background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
   border-radius: 8px;
   padding: 9px 25px;
   border: none;
}